WebContent/wsdl/DoneTask.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://doneTask.service.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://doneTask.service.com" xmlns:intf="http://doneTask.service.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://doneTask.service.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <element name="login">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="loginResponse">
    <complexType/>
   </element>
   <element name="getDoneTask">
    <complexType>
     <sequence>
      <element name="caseId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDoneTaskResponse">
    <complexType>
     <sequence>
      <element name="getDoneTaskReturn" type="impl:DoneTaskBean"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="DoneTaskBean">
    <sequence>
     <element name="comment" nillable="true" type="apachesoap:Map"/>
     <element name="id" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="getDoneTasks">
    <complexType/>
   </element>
   <element name="getDoneTasksResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getDoneTasksReturn" type="impl:DoneTaskBean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://doneTask.service.com"/>
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getDoneTasksRequest">

      <wsdl:part element="impl:getDoneTasks" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part element="impl:loginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginRequest">

      <wsdl:part element="impl:login" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDoneTasksResponse">

      <wsdl:part element="impl:getDoneTasksResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDoneTaskRequest">

      <wsdl:part element="impl:getDoneTask" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDoneTaskResponse">

      <wsdl:part element="impl:getDoneTaskResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="DoneTask">

      <wsdl:operation name="login">

         <wsdl:input message="impl:loginRequest" name="loginRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginResponse" name="loginResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDoneTask">

         <wsdl:input message="impl:getDoneTaskRequest" name="getDoneTaskRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDoneTaskResponse" name="getDoneTaskResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDoneTasks">

         <wsdl:input message="impl:getDoneTasksRequest" name="getDoneTasksRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDoneTasksResponse" name="getDoneTasksResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DoneTaskSoapBinding" type="impl:DoneTask">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDoneTask">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDoneTaskRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDoneTaskResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDoneTasks">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDoneTasksRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDoneTasksResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DoneTaskService">

      <wsdl:port binding="impl:DoneTaskSoapBinding" name="DoneTask">

         <wsdlsoap:address location="http://localhost:8080/szcgService/services/DoneTask"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
